/Install/Bin
/vs2017
/build64_release
/Build
/.cproject
/.idea/.gitignore
/.idea/.name
/.project
/.idea/encodings.xml
/.settings/language.settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/ShmStaticNFrame.iml
/.idea/vcs.xml
/tools/excel_2_bin/*.pyc
*.pyc
*.log
/Install/zookeeper/
/.idea/gameframe_dianwan.iml
/thirdparty/zlib/zconf.h
/thirdparty/pkg/openssl-1.0.2n/
/thirdparty/pkg/libevent-release-2.1.8-stable/

/.idea/leetcode/
/vs/.vs
/.vs
/out
/thirdparty/pkg
/.idea/inspectionProfiles/Project_Default.xml
/game/MMO/NFLogicComm/ResStore/makefiles/excel_gen.makefile
/game/MMO/NFLogicComm/ResStore/makefiles/resmetas_gen.makefile
/Build_excelprocess
/cmake-build-tools_release
/cmake-build-build_tools
/cmake-build-release-visual-studio
/.history
/build_vscode/
